body {
    font-family: Arial;
    width: 600px;
    margin: 20px auto;
}

input {
    padding: 8px;
    margin: 5px;
    width: 180px;
}

button {
    padding: 8px 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid gray;
    padding: 10px;
}
