version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend_service
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_service
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - backend
