version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: employee-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: employee-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URL=mongodb://mongo:27017/employeesdb
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: employee-frontend
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo_data:
